.App {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center_div {
  width: 30%;
  height: 80vh;
  background-color: blueviolet;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}

h2 {
  width: 93%;
  padding: 5px;
  text-align: center;
  color: blueviolet;
  font-family: "Times New Roman", Times, serif;
  background-color: aliceblue;
  border-radius: 50px;
  border: 3px solid blue;
}

input {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid blue;
  background-color: aquamarine;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input:hover {
  background-color: white;
}

button {
  text-align: center;
  border-radius: 5px;

  margin-top: 5px;
  padding: 0.3rem 1rem;
  color: red;
  border: 2px solid blue;
  background-color: aquamarine;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button:hover {
  background-color: orange;
  color: green;
}
